<div class="wrapper" *ngIf="userInfo$ | async as userInfo">
  <div class="header">
    <p class="username">Hello {{ userInfo.username }}!</p>
    <button class="logout" (click)="logout()">Logout</button>
  </div>
  <div class="container">
    <div class="user" *ngIf="!userInfo.isAdmin">
      <div class="info">
        <span>
          Account status:
          <span [className]="userInfo.account.isActive ? 'active' : 'inactive'">
            {{ userInfo.account.isActive ? "Active" : "Inactive" }}
          </span>
        </span>
        <span>
          Account value: <span class="value">{{ userInfo.account.money }}</span
          >$
        </span>
      </div>
      <div class="controls">
        <button
          [disabled]="!userInfo.account.isActive"
          type="button"
          class="deposit"
          (click)="onControlClick('Deposit')"
        >
          Deposit
        </button>
        <button
          [disabled]="!userInfo.account.isActive"
          type="button"
          class="withdraw"
          (click)="onControlClick('Withdraw')"
        >
          Withdraw
        </button>
      </div>
    </div>
    <div class="admin" *ngIf="userInfo.isAdmin">
      <div class="accounts" *ngIf="allUsersInfo$ | async as users">
        <div class="single" *ngFor="let user of users">
          <span class="username">{{ user.username }}</span>
          <span class="money">{{ user.account.money }}$</span>
          <span [className]="user.account.isActive ? 'active' : 'inactive'">
            {{ user.account.isActive ? "Active" : "Inactive" }}</span
          >
          <button
            [className]="!user.account.isActive ? 'active' : 'inactive'"
            (click)="changeAccountStatus(user.username, !user.account.isActive)"
          >
            {{ !user.account.isActive ? "Activate" : "Deactive" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup
  [isOpen]="isPopupOpen"
  [label]="popupLabel"
  [isError]="popupError"
  (onCancel)="onPopupCancel()"
  (onSubmit)="onPopupSubmit($event)"
></app-popup>
